body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #1C2225;
    color: #FFFFFF;
}


.header_logo{
    color: #ECD979;
    width: 44px;
    height: 39px;
}
.nav_header{
    display: flex;
    align-items: center;
}


.section-first{
    background-color: #1C2225;
    font-family: Manrope;
}
.section-first-picture1{
    width: 392px;
    height: 545px;
    flex-shrink: 0;
    border-radius: 4px;
    background: url(<>), lightgray -56.27px -5.605px / 131.835% 126.432% no-repeat;
}
.section-first-header{
color: #FCF9F9;
font-family: Manrope;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 74px; /* 115.625% */
letter-spacing: -1.92px;
}
.spanclass{
color: #ECD979;
font-family: Manrope;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 74px;
letter-spacing: -1.92px;
}
.section-first-picture2{
    width: 115px;
    height: 111px;
    top: 218px;
    left: 1225px;
    gap: 16px;
}
.section-first-btn{
    display: flex;
    width: 168px;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}
.section-first-paragraph{
    width: 115px;
    color: rgba(252, 249, 249, 0.40);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.64px;
}